input {
  file {
    path => "/home/sistema/Downloads/archive/movies_metadata.csv"
    start_position => "beginning"
    sincedb_path => "/dev/null" 
  }
}

filter {
  csv {
    separator => ","
    columns => [
      "adult",
      "belongs_to_collection",
      "budget",
      "genres",
      "homepage",
      "id",
      "imdb_id",
      "original_language",
      "original_title",
      "overview",
      "popularity",
      "poster_path",
      "production_companies",
      "production_countries",
      "release_date",
      "revenue",
      "runtime",
      "spoken_languages",
      "status",
      "tagline",
      "title",
      "video",
      "vote_average",
      "vote_count"
    ]
  }


  mutate {convert => ["id", "integer"]}
  mutate {convert => ["imdb_id", "integer"]}
  mutate {convert => ["popularity", "float"]}
}

output {
  elasticsearch {
    hosts => "localhost"
    index => "movies"
    document_type => "movie"
  }

  stdout {}
}